body{
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}
p{
  font-size: 30px;
  font-family: monospace;:
}
h1{
  color: purple;
  font-family: monospace;
  font-weight: 600px;
}
div.numeritos{
  color: purple;
  font-weight: bold;
}
